<header class="site-header">
  <div class="header-container">
    <a href="https://maxvoeck.github.io" class="site-home" aria-label="Zur Hauptseite"></a>

    <nav class="main-nav">
      <ul>
        <li><a href="{{ "/about" | relative_url }}">Hinweise</a></li>
        <li><a href="{{ "/teaching" | relative_url }}">Materialien</a></li>
        <li><a href="{{ "/termine" | relative_url }}">Termine</a></li>
        <li><a href="{{ "/chatbot" | relative_url }}">Assistent</a></li>
      </ul>
    </nav>
  </div>
</header>
